:root{
    --white: #fff;
    --black: #000;
    --background: #A7A3FF;
    --clock-col: #C9CFFF;
    --accent-col: #E1F2EA;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
#app{
    min-height: 100vh;
    color: var(--clock-col);
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.clock:before{
    z-index: 3;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clock-col);
}
.steps{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 4px;
}
.steps:before,.steps:after{
    content: '';
    position: absolute;
    left: -3px;
    width: 10px;
    height: 10px;
    background: var(--accent-col);
    border-radius: 50%;
}
.steps:before{
    top: 0.5rem
}
.steps:after{
    bottom: 0.5rem;
}
.steps:nth-child(1){

}
.steps:nth-child(2){
    transform: rotate(30deg);
}
.steps:nth-child(3){
    transform: rotate(60deg);
}
.steps:nth-child(4){
    transform: rotate(90deg);
}
.steps:nth-child(5){
    transform: rotate(120deg);
}
.steps:nth-child(6){
    transform: rotate(150deg);
}
.brand{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: .85em;
    opacity: .5;
}
.display{
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.6em;
    opacity: .5;
}
.hour,
.min,
.sec{
    z-index: 2;
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 40%;
    width: 4px;
    margin-left: -2px;
    background: var(--accent-col);
    transform-origin: bottom center;
    border-radius: 3px 3px 0 0;
}
.hour{
    height: 30%;
}
.sec{
    z-index: 1;
    height: 46%;
    background: var(--clock-col);
}